doctype html
	head
		title getblockcout API
	body
		include includes/header.pug
		form(action="getblockcount_result" method="post")
			p
				| INFO : 
			input(type="submit" value="getblockcount")
		include includes/footer.pug
	

