doctype html
html(lang="ko")
	head 
		meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")
		title dailycoin api examples
		style.
			.title{
				color:grey;
			}
			.footer{
				color:coral;
			}
			#header{
				margin-bottom: 48px;
			}
	script.
		console.log("This is log");
	body
		#header
			h1.title dailycoin API tutorial
		#main
			div#api(style="color: coral;") dailycoin API List
				ul
					li: a(href='/getblockcount') getblockcount
	
